.users_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #64748b;
}

.users_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.users_header_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  /* border: 1px solid black; */
}

.users_header_title {
  font-size: 16px;
  font-weight: bold;
}

.users_header_sub_title {
  font-size: 13px;
  font-weight: 100px;
}

.user_header_search_contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 50%;
}

.user_header_search {
  width: 100%;
  padding: 8px;
  border-top: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user_header_search_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  background-color: white;
  border-top: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px;
  padding-right: 5px;
  width: 10%;
  color: #64748b;
}

.user_header_add_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  /* border-top: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
  /* padding-right: 5px; */
  width: 10%;
  color: #64748b;
}

.user_header_search_icon {
  width: 17px;
  height: 25px;
  margin: 0px;
}

.user_header_add_icon {
  width: 16px;
  height: 18px;
  margin: 3px;
}
